@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*:focus {
    outline: none;
}

body {
    margin: 0 auto;
    background-color: #F2F9FB;
    color: #1F1C21;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
    font-size: 18px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

.header {
    overflow: hidden;
    padding: 0 3.75rem;
    background: #ffffff;
    box-shadow:  10px 10px 20px #d9d9d9,
    -10px -10px 20px #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.switcher {
    display: flex;
    width: 7.5rem;
    justify-content: space-between;
    align-items: center;
}

.switch {
    background: #100f2c;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    right: 32px;
    bottom: 32px;
    left: unset;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    padding: 2.5rem 3.75rem 0;
}

.wrapper {
    padding: 2.5rem 3.75rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.wrapper-calc {
    width: 45%;
}

select#country {
    width: 200px;
    padding: 8px 5px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 8px 8px 15px #d9d9d9,
    inset -8px -8px 15px #ffffff;
}

.form-design, .form-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
}

.calc-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3.75rem;
}

.calc-total {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.icon img {
    width: 56px;
    height: 56px;
}

.total {
    font-weight: bold;
    font-size: 30px;
}

.calc-total__label h3{
    margin: 0px;
}

.wrapper-result {
    display: flex;
    width: 55%;
    justify-content: center;
}

.result-block {
    width: 500px;
    display: flex;
    padding: 4.6rem 2.75rem;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
}

.result-payment {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

.result-currency {
    font-size: 36px;
    font-weight: 600;
    margin-right: 10px;
}

.result-total {
    font-size: 52px;
    font-weight: bold;
}

.result-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    font-weight: 500;
    font-size: 24px;
}

.country-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.wrapper-countries {
    padding: 1rem 2.5rem;
    background: #ffffff;
    box-shadow: -10px -10px 20px #d9d9d9, 10px 10px 20px #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-countries {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.countries-flag {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.countries-container {
    display: flex;
    flex-direction: row;
    width: 120px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.country-price {
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: center;
}

.result {
    display: flex;
    justify-content: space-around;
}

/* Dark Mode CSS */
/*  #191919  */

.header-dark {
    color: #CDCDCD;
    background: linear-gradient(90deg, #101116, #13141a);
    box-shadow: -10px 10px 10px #0f1014, 10px -10px 10px #15161c;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.body-dark {
    background-color: #17181F;
    color: #CDCDCD;
}

.switch-dark {
    background-color: whitesmoke;
}

.result-block__dark {
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 100%);
    box-shadow: 10px 10px 20px #0d0b0f, -10px -10px 20px #110f15;
}

.result-currency__dark {
    color: aqua;
}

.wrapper-countries__dark {
    background: linear-gradient(90deg, #101116, #13141a);
    box-shadow: -10px 10px 10px #0f1014, 10px -10px 10px #15161c;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/*  Media  */

@media only screen and (max-device-width: 1068px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .wrapper-calc {
        padding: 0 0 2.5rem 0;
    }
}